spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/template_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.company.template: DEBUG
    org.springframework: DEBUG
    org.hibernate.SQL: DEBUG
