apiVersion: v1
kind: Service
metadata:
  name: trade-service
  labels:
    app: trade-service
spec:
  type: ClusterIP
  selector:
    app: trade-service
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
